name: fds-evac

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  streamlit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy ruff
          pip install -r requirements.txt
      - name: Lint with Ruff
        run: ruff .
      - name: Check with Mypy
        run: |
          mypy --strict $(git ls-files '*.py')
    